@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.text{
    font-size: 5em;
    letter-spacing: 10px;
    font-family: monospace;
    border-radius: 5px solid white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from {width: 0}
}